body{
    margin: auto;
}

.head-section{
    height: 300px;
    background-color: #D7E4C0;
    display: flex;
    justify-content: center;
    border-bottom: solid;
    border-color: #BBC3A4;
}


.intro {
    padding-top: 6vh;
}

.my-image {
    display: flex;
    justify-content: center;
  /*  border-radius: 50%; */
}

.profile-details {
    margin-top: 6vh;
}

.about-section-header {
    display: flex;
    justify-content: center;
    background-color: #B3A398;
    border-bottom: solid;
    border-color: #B3A398;;
}

.about-section {
    display: flex;
    background-color: #B3A398;
}